<template>
  <div class="p-4 sm:p-6 lg:p-8">
    <div class="sm:flex sm:items-center">
      <div class="sm:flex-auto">
        <h1 class="text-base font-semibold leading-6 text-gray-900">
          Statistics
        </h1>
        <p class="mt-2 text-sm text-gray-700">
          Covid-19 statistics for Ukraine for the last 10 days.
        </p>
      </div>
      <div class="flex mt-4 sm:mt-0 sm:ml-16 sm:flex-none">
        <Button @click="getData()"> Refresh </Button>
        <Button class="ml-3" variant="red" @click="onLogout()"> Logout </Button>
      </div>
    </div>
    <div class="mt-8 flow-root">
      <div class="-my-2 -mx-4 overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
          <Loader v-if="isLoader" />
          <p v-else-if="!isLoader && !history.length" class="text-base font-semibold leading-6 text-gray-400">Data is empty</p>
          <table v-else class="min-w-full divide-y divide-gray-300">
            <thead>
              <tr>
                <th
                  scope="col"
                  class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-0"
                >
                  <a href="#" class="group inline-flex"> Date </a>
                </th>
                <th
                  scope="col"
                  class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"
                >
                  <a href="#" class="group inline-flex"> Confirmed diff </a>
                </th>
                <th
                  scope="col"
                  class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"
                >
                  <a href="#" class="group inline-flex"> Deaths diff </a>
                </th>
                <th
                  scope="col"
                  class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"
                >
                  <a href="#" class="group inline-flex"> Active diff </a>
                </th>
                <th scope="col" class="relative py-3.5 pl-3 pr-0">
                  <span class="sr-only">Delete</span>
                </th>
              </tr>
            </thead>
            <tbody
              class="divide-y divide-gray-200 bg-white"
            >
              <tr v-for="item in history" :key="item.id">
                <td
                  class="whitespace-nowrap py-4 pl-4 pr-3 text-sm text-gray-500 sm:pl-0"
                >
                  {{ item.date }}
                </td>
                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                  {{ item.confirmed_diff }}
                </td>
                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                  {{ item.deaths_diff }}
                </td>
                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                  {{ item.active_diff }}
                </td>
                <td
                  class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm sm:pr-0"
                >
                  <Button variant="red" @click="deleteItem(item.id)">
                    Delete
                  </Button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { useHistoryStore } from "../store/index";
import { useAuthStore } from "../store/auth";
import { onMounted } from "vue";
import { storeToRefs } from "pinia";
import Button from "/components/Button.vue";
import Loader from "/components/Loader.vue";

const store = useHistoryStore();
const storeAuth = useAuthStore();
const isLoader = ref(false);

const { history } = storeToRefs(store);

onMounted(async () => {
  // Check if the data is stored in the browser storage
  isLoader.value = true;
  const storedData = localStorage.getItem("statistics");
  if (storedData) {
    history.value = JSON.parse(storedData);
  } else {
    getData();
  }
  isLoader.value = false;
});

const getData = async () => {
  await store.getData();
  localStorage.setItem("statistics", JSON.stringify(history.value));
};

const deleteItem = (id: string) => {
  // Remove the item from the Pinia store
  store.deleteItem(id);
  // Store the data in the browser storage
  localStorage.setItem("statistics", JSON.stringify(history.value));
};

const onLogout = () => {
  storeAuth.logout();
};
</script>