<template>
  <div class="flex flex-col items-center justify-center min-h-screen">
    <h1
      class="mb-6 text-center text-3xl font-bold tracking-tight text-gray-900"
    >
      Get COVID-19 statistics. Log in to your account.
    </h1>
    <Button class="py-4 px-7 text-md" @click="goToLogin()">
      Go to Login
    </Button>
  </div>
</template>

<script setup lang="ts">
import Button from "/components/Button.vue";

const router = useRouter();

const goToLogin = () => {
  router.push("/login");
};
</script>