<template>
  <div class="flex items-center justify-center min-h-screen">
    <Form class="w-1/5" @submit="onSubmit" :validation-schema="schema">
      <h2
        class="mb-6 text-center text-3xl font-bold tracking-tight text-gray-900"
      >
        Sign in to your account
      </h2>
      <InputField
        v-model="form.email"
        class="mb-6"
        label="Email address*"
        name="email"
        type="email"
      />
      <InputField
        v-model="form.password"
        class="mb-6"
        label="Password*"
        name="password"
        type="password"
      />
      <span v-if="invalid" class="mt-4 mb-4 block text-sm text-red-600"
        >The data is invalid</span
      >
      <div>
        <Button class="w-full mb-2" type="submit">
          Sign in
        </Button>
        <nuxt-link
          to="/"
          type="text"
          class="flex w-full justify-center rounded-md bg-white py-2 px-3 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50"
        >
          Back
        </nuxt-link>
      </div>
    </Form>
  </div>
</template>

<script setup lang="ts">
import { Form } from "vee-validate";
import * as yup from "yup";
import { ref, Ref } from "vue";
import InputField from "/components/InputField.vue";
import Button from "/components/Button.vue";
import { useAuthStore } from "../store/auth"; 
import { FormTypes } from "../types/index"

const store = useAuthStore();

const schema = yup.object({
  email: yup.string().required().email(),
  password: yup.string().required().min(8),
});

const form: Ref<FormTypes> = ref({
  email: "",
  password: "",
});

const dataLogin: FormTypes = {
  email: "test@test.com",
  password: "password",
};

const invalid = ref(false);

const onSubmit = () => {
  // Check the data is equal
  const isEqual = Object.keys({ ...form.value, ...dataLogin }).every(
    (key) => form.value[key as keyof FormTypes] === dataLogin[key as keyof FormTypes]
  )
    ? true
    : false;

  if (!isEqual) {
    invalid.value = true;
    return false;
  }
  // Send the data to Pinia store
  store.login(form.value);
}
</script>
