<template>
  <button
    :type="type"
    :class="variantButton"
    class="inline-flex justify-center rounded-md py-2 px-3 text-sm font-semibold text-white shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2"
  >
    <slot />
  </button>
</template>

<script setup lang="ts">
import { Field, ErrorMessage } from "vee-validate";
import { computed } from "vue";

type Variant = "primary" | "red";

interface Props {
  variant?: Variant;
  type?: string;
}

const props = withDefaults(defineProps<Props>(), {
  variant: "primary",
  type: "button",
});

const emit = defineEmits<{
  (event: "update:modelValue", value: string): void;
}>();

const variantButton = computed(() => {
  if (props.variant === "red") {
    return "bg-red-600 hover:bg-red-700 focus-visible:outline-red-600";
  }
  return "bg-indigo-600 hover:bg-indigo-500 focus-visible:outline-indigo-600";
});
</script>