<template>
  <div>
    <label
      :for="label"
      class="block text-sm font-medium leading-6 text-gray-900"
      >{{ label }}</label
    >
    <Field
      v-model="inputValue"
      class="w-full rounded-md border-0 py-1.5 px-2 text-gray-900 ring-1 ring-inset ring-gray-300 focus:ring-inset focus:ring-indigo-500"
      :name="name"
      :type="type"
    />
    <ErrorMessage class="mt-2 text-sm text-red-600" :name="name" />
  </div>
</template>

<script setup lang="ts">
import { Field, ErrorMessage } from "vee-validate";
import { computed } from "vue";

interface Props {
  modelValue: string;
  label: string;
  name: string;
  type: string;
}

const props = defineProps<Props>();

const emit = defineEmits<{
  (event: "update:modelValue", value: string): void;
}>();

const inputValue = computed({
  get: () => props.modelValue,
  set: (value) => emit("update:modelValue", value),
});
</script>