<template>
  <div class="flex items-center justify-center min-h-screen">
    <div class="loader__spinner inline-block w-12 h-12 rounded-full"></div>
  </div>
</template>

<style>
.loader__spinner {
  border: 3px solid rgba(0, 0, 0, 0.3);
  border-top-color: #000000;
  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
</style>
