<template>
  <div>
    <slot />
  </div>
</template>

<script setup lang="ts">
import { useAuthStore } from "../store/auth";
import { storeToRefs } from "pinia";

const router = useRouter();
const store = useAuthStore();
const { isAuth } = storeToRefs(store);

onMounted(() => {
  localStorage.getItem("login") ? (isAuth.value = true) : (isAuth.value = false);
  if(!isAuth.value) {
    router.push("/")
  }
});
</script>